#landingOne {
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  width: 100%;
}

#landingOne .container-landing {
  overflow: hidden;
  border-radius: 25px;
  display: grid;
  grid-template-columns: minmax(200px, 35%) 1fr;
}

#landingOne .container-landing .left {
  position: relative;
}

#landingOne .container-landing .left .logo {
  max-width: 150px;
  margin-top: -1rem;
  padding-left: 1rem;
}

#landingOne .container-landing .left .container-content{
  height: 80%;
  display: grid;
  place-items: center;
  margin-right: -5rem;
  margin-left: 2.5rem;
}

#landingOne .container-landing .left .content {
  margin-bottom: 5rem;
  margin-left: auto;
  width: fit-content;
  position: relative;
}

#landingOne .container-landing .left .content > h1 {
  font-size: 45px;
  word-spacing: 5px;
  max-width: 550px;
}

#landingOne .container-landing .left .content > p {
  padding-top: 2rem;  
  word-spacing: 5px;
  max-width: 390px;
}

#landingOne .container-landing .eclipse {
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translate(-60%, -50%);
  height: 100vw;
  width: 160vw;
  min-height: 1500px;
  z-index: -1;
  border-radius: 100%;
  background: white;
}
#landingOne .container-landing .eclipse::after {
  content: "";
  border: 3px dashed yellow;
  position: absolute;
  right: -2rem;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 100%;
}

#landingOne .container-landing .right {
  background-image: url("./asset/sebastian-leon-prado-dBiIcdxMWfE-unsplash 1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -15;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: end;
}

#landingOne .container-landing .left .button-container {
  width: fit-content;
  max-height: 300px;
  margin: auto;
  padding: 4rem 5rem;
  background: url("./asset/Group\ 1164.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: visible;
  z-index: 10000;
  position: absolute;
  top: 65%;
  right: -50vw;
}

#landingOne .container-landing .left .button-container > input {
  border: none;
  outline: none;
  border-radius: 70px;
  padding: 1rem 1.3rem;
  font-size: large;
  width: 100%;
  border: 1px solid rgba(102, 70, 231, 0.55);
  position: absolute;
  left:-316px;
}

#landingOne .container-landing .left .button-container > button {
  background: var(--primaryColor);
  color: white;
  padding: 1rem 1.3rem;
  outline: none;
  border: none;
  border-radius: 70px;
  font-size: large;
  min-width: 201px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #landingOne .container-landing .left .button-container{
    right: -60vw;
    max-height: 300px;
    padding: 2.5rem 3.5rem;
    top: initial;
    bottom: 15%;
  }

  #landingOne .container-landing .left .button-container > button{
    font-size: medium;
  }
/* }

@media screen and (max-width: 800px) { */
  #landingOne .container-landing .left .content {
    margin-top: 1rem;
  }

  #landingOne .container-landing .left .content > h1 {
    font-size: 30px;
  }

  /* #landingOne .container-landing .left .button-container{
    max-height: 200px;
    padding: 2rem 3rem;
  } */

  #landingOne .container-landing .left .button-container > input {
    left: -280px;
  }

  #landingOne .container-landing .left .button-container > button {
    font-size: small;
  }
}

@media screen and (max-width: 800px){
  #landingOne .container-landing .left .button-container{
    max-height: 200px;
    padding: 1.3rem 2.3rem;
    /* bottom: 10%; */
  }

  #landingOne .container-landing .left .button-container > input {
    font-size: small;
    left: -200px;
  }

  #landingOne .container-landing .left .button-container > button{
    min-width: 150px;
    padding: 1rem;
  }
}

@media screen and (max-width: 650px) {
  #landingOne .container-landing {
    grid-template-columns: 1fr;
  }

  #landingOne .container-landing .eclipse {
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -65%);
    height: 90vh;
    width: 200vw;
    min-height: 0;
    min-width: 0;
    max-height: 650px;
    z-index: -10;
  }
  #landingOne .container-landing .eclipse::after {
    content: "";
    border: 3px dashed yellow;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: -2rem;
    border-radius: 100%;
  }

  #landingOne .container-landing .right {
    min-height: 500px;
    margin-top: 3rem;
    position: relative;
    z-index: -100;
    background-position: top;
  }

  #landingOne .container-landing .left > div:nth-child(2) {
    display: grid;
    place-items: center;
  }

  #landingOne .container-landing .left .logo {
    padding-left: 0;
    max-width: 80px;
    margin-top: -1.5rem;
  }

  #landingOne .container-landing .left .container-content{
    margin-right: 0;
    margin-left: 0;
  }

  #landingOne .container-landing .left .content {
    margin-top: 1.5rem;
    margin-left: 0;
    margin: auto;
    width: 90%;
    max-width: 350px;
    text-align: center;
  }

  #landingOne .container-landing .left .content > h1 {
    margin: auto;
    font-size: 22px;
  }

  #landingOne .container-landing .left .content > p { 
    margin: auto;
    font-size: 16px;
    padding-top: 1.4rem;
  }

  #landingOne .container-landing .left .button-container {
    position: absolute;
    right: 0;
    bottom: -26vh;
    top: initial;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
    padding: 2rem 3rem;
  }

  #landingOne .container-landing .left .button-container > input {
    font-size: medium;
    left: 050%;
    top: -50px;
    min-width: 360px;
    transform: translate(-50%,0);
  }
  #landingOne .container-landing .left .button-container > input::placeholder{
    text-align: center;
  }

  #landingOne .container-landing .left .button-container > button{
    min-width: 150px;
    padding: 1rem 1.3rem;
  }
}

@media screen and (max-width: 420px){
  #landingOne .container-landing .eclipse {
    height: 95vh;
    width: 200vw;
  }

  #landingOne .container-landing .right {
    min-height: 400px;
    margin-top: 1rem;
  }

  #landingOne .container-landing .left .container-content {
    margin-bottom: 2rem;
  }

  #landingOne .container-landing .left .button-container {
    bottom: -20vh;
    /* top: 50%; */
    padding: 1.6rem 2.6rem;
    margin-top: 2rem;
  }

  #landingOne .container-landing .left .button-container > input{
    font-size: small;
    min-width: 260px;
  }

  #landingOne .container-landing .left .button-container > button {
    padding: 0.8rem;
    min-width: 120px;
  }
}