.rankCard {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
    padding: 10px 15px;
}

.rankCardLeft {
    display: flex;
    align-items: center;
}

.rankCardLeft > img {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    object-fit: cover;
    margin: 0px 10px;
}

.rankCardNames > h5 {
    font-size: 14px;
}

.rankCardNames > p {
    font-size: 14px;
}

.rankCardRight > p {
    font-size: 25px;
    font-weight: 500;
}