.root h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 60px;
}
.root > h2 > span {
  color: #a38dfc;
}
.content {
  margin-bottom: 50px;
}
